
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




.intro{
	margin: 5vh 25vw 5vh 25vw;
}


body {
	font-family: "inter";
	text-align: center;
	font-style: normal;
	background: #E3F2FD;
	width: min(800px, 90%), center;
}


h1{
	font-family: "Pridi";
	font-weight: SemiBold;
	font-size:	62px;
	margin: 0;
	color: #121B59;
}
h2{
	font-family: "Pridi";
	font-weight: Medium;
	font-size: 24px;
	margin: 0;
}

p{
	font-family: "inter";
	font-weight: Regular;
	font-size: 16px;
	margin: 0;
}
aa{
	font-family: "inter";
	font-style: italic;
	font-weight: Regular;
	font-size: 12px;
	margin: 0; }



.parentt {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}
    
.div1t {
    grid-column: span 4 / span 4;
    margin: 2vh 0vw 5vh 10vw
}

.div2t {
    grid-column: span 2 / span 2;
    grid-column-start: 5;
    text-align: left;
    margin: 15vh 5vw 5vh 0vw
}
.div3t {
    grid-column: span 4 / span 4;
    grid-row-start: 2;
    margin: 2vh 0vw 5vh 10vw
    }

.div4t {
    grid-column: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 2;
    margin: 10vh 5vw 5vh 0vw;
    text-align: left;
}
        
.cent  {
	text-align: center;
	grid-column: span 2 / span 2; 
	margin: 2vh 25vw 5vh 25vw;}


.stroke {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 12px;

.left {
	margin: 0vh 0vw 0vh 10vw; 
	text-align: right; 
	align-items: center;
}
.right { 
	margin: 0vh 10vw 0vh 0vw;
	text-align: left; 
	align-items: center;
}


